{
  "overrides": [
    {
      "files": "**.ts",
      "parser": "@typescript-eslint/parser",
      "extends": "../../../eslintrc/typescript",
      "rules": {
        "import/export": "error",
      },
    },
  ],
}
